target/
modai-ide/target/
jit-compiler/target/
target_alt/
jit-compiler/.vscode/
modai-ide/.vscode/
modai-ide/node_modules/
build_modelica_dir_regress/
jit-compiler/Modelica/
jit-compiler/ModelicaReference/
jit-compiler/ModelicaTest/
jit-compiler/ModelicaServices/
.modai-ide-data/
modai-ide/src-tauri/.modai-ide-data/
.vscode/
build_modelica_dir_regress/
build_electrical_regress/
build_modelicatest_regress/
build_full_regress/